
*{
    margin: 0;
    padding: 0;
}

.xm-text {
  display: inline-block;
    white-space: break-spaces !important
}

.xm-picture .xm-img {
  width: 100%
}

.xm-img {
  color: transparent
}

.xm-img[src=""], .xm-img:not([src]) {
  visibility: hidden
}

.xm-picture {
  display: inline-flex
}

html[data-mi-dir=rtl] .xm-text {
  display: block
}

html[data-mi-dir=rtl] .xm-text, html[data-mi-dir=rtl] .xm-link, html[data-mi-dir=rtl] .xm-price, html[data-mi-dir=rtl] .xm-button {
  direction: rtl
}

.section {
  background-repeat: no-repeat;
    margin-bottom: -1px;
    position: relative
}



html {
  -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif
}



main {
  display: block
}

[hidden] {
  display: none
}



img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}


a {
  color: inherit;
    font-size: 14px;
    text-decoration: none
}

main {
  font-size: 16px;
    display: inline-block
}


.div1.lp-xiaomi-20w-carregador {
  z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 10rem;
    margin: 0 auto;
    display: flex;
    overflow: hidden
}

.div1.lp-xiaomi-20w-carregador * {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2
}

.div1.lp-xiaomi-20w-carregador :not(:is(.xm-price *)) {
  font-size: 0
}

.div1.lp-xiaomi-20w-carregador .div2 {
  flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 5.92188rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div2 .image3 {
  z-index: 0;
    width: 10rem;
    height: 5.92188rem
}

.div1.lp-xiaomi-20w-carregador .div2 .div4 {
  z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 7.0625rem;
    min-height: 1.32031rem;
    margin-top: -5.16016rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div2 .div4 .image5 {
  width: 6.86328rem;
    height: .72656rem
}

.div1.lp-xiaomi-20w-carregador .div2 .div4 .div6 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.0625rem;
    margin-top: .11719rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div2 .div4 .div6 .split_text436 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 7.36328rem;
    font-size: .1875rem
}

.div1.lp-xiaomi-20w-carregador .div2 .div4 .div7 {
  color: #000;
    text-align: center;
    margin-top: .15625rem;
    font-size: .125rem
}

.div1.lp-xiaomi-20w-carregador .div8 {
  flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 6.96875rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div8 .image9 {
  z-index: 0;
    width: 10rem;
    height: 6.96875rem
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 {
  z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 4.93359rem;
    min-height: .9375rem;
    margin-top: -5.91797rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div11 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.07031rem;
    margin-left: .05078rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div11 .split_text433 {
  color: #000;
    text-align: center;
    width: 6.70313rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div12 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.22266rem;
    margin-top: .03125rem;
    margin-left: .0625rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div12 .split_text432 {
  color: #000;
    text-align: center;
    width: 6.70313rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div13 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.93359rem;
    margin-top: .11719rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div8 .div10 .div13 .split_text431 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 4.96875rem;
    font-size: .10156rem;
    line-height: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div14 {
  flex-direction: column;
    align-items: center;
    width: 9.98828rem;
    height: 6.73047rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div14 .image15 {
  z-index: 0;
    width: 9.98828rem;
    height: 6.73047rem
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 {
  z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 5.63281rem;
    min-height: .74219rem;
    margin-top: -5.71875rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div17 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.13281rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div17 .split_text430 {
  color: #000;
    text-align: center;
    width: 6.11719rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div18 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.60547rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div18 .split_text429 {
  color: #000;
    text-align: center;
    width: 6.11719rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div19 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.63281rem;
    margin-top: .11719rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div14 .div16 .div19 .split_text428 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 6.76953rem;
    font-size: .10156rem;
    line-height: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div20 {
  flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 7.6875rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div20 .image21 {
  z-index: 0;
    width: 10rem;
    height: 7.6875rem
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 {
  z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 5.79297rem;
    min-height: .9375rem;
    margin-top: -6.52344rem;
    margin-left: .05859rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div23 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.55859rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div23 .split_text427 {
  color: #000;
    text-align: center;
    width: 8.73438rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div24 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.19141rem;
    margin-top: .02734rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div24 .split_text426 {
  color: #000;
    text-align: center;
    width: 8.73438rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div25 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.79297rem;
    margin-top: .10547rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div20 .div22 .div25 .split_text425 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 6.02734rem;
    font-size: .10156rem;
    line-height: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 {
  box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    padding-bottom: .8125rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 {
  z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 6.92578rem;
    min-height: 4.67578rem;
    margin-top: 1.25rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div29 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.54297rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div29 .split_text424 {
  color: #000;
    text-align: center;
    width: 5.99219rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div30 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.92578rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div30 .split_text423 {
  color: #000;
    text-align: center;
    width: 7.63672rem;
    font-size: .23438rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div31 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.71875rem;
    margin-top: .13672rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div31 .split_text422 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 7.63672rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div32 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.25rem;
    margin-top: 0;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div32 .split_text421 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 7.63672rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 {
  box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: .09375rem;
    flex-direction: column;
    align-items: center;
    min-height: 2.79688rem;
    margin-top: .37109rem;
    padding: .58594rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 {
  box-sizing: border-box;
    align-items: flex-start;
    width: 6.61719rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .625rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .image36 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .div37 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .53125rem;
    min-height: .44531rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .div37 .div38 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .33984rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .div37 .div38 .split_text420 {
  color: #000;
    text-align: center;
    width: .98438rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .div37 .div39 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .53125rem;
    margin-top: .02344rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div35 .div37 .div39 .split_text419 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: .98438rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .625rem;
    margin-left: .82031rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .image41 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .div42 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .53125rem;
    min-height: .44531rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .div42 .div43 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .33984rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .div42 .div43 .split_text418 {
  color: #000;
    text-align: center;
    width: .98438rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .div42 .div44 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .53125rem;
    margin-top: .03125rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div40 .div42 .div44 .split_text417 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: .98438rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .81641rem;
    margin-left: .71875rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .image46 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .div47 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .81641rem;
    min-height: .44531rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .div47 .div48 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .46875rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .div47 .div48 .split_text416 {
  color: #000;
    text-align: center;
    width: .98438rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .div47 .div49 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .81641rem;
    margin-top: .03125rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div45 .div47 .div49 .split_text415 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: .98438rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 1.12891rem;
    margin-left: .46484rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .image51 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .div52 {
  flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1.12891rem;
    min-height: .45313rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .div52 .div53 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.12891rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .div52 .div53 .split_text414 {
  color: #000;
    text-align: center;
    width: 1.26172rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .div52 .div54 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .5rem;
    margin-top: .03125rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div50 .div52 .div54 .split_text413 {
  color: rgba(0, 0, 0, .8);
    text-align: center;
    width: .98438rem;
    font-size: .10156rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div55 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .86719rem;
    margin-left: .55078rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div55 .image56 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div55 .div57 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .86719rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div34 .div55 .div57 .split_text412 {
  color: #000;
    text-align: center;
    width: 1.25781rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 {
  justify-content: space-between;
    align-items: flex-start;
    width: 5.37891rem;
    min-height: 1.10547rem;
    margin-top: .45703rem;
    margin-left: -.07422rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div59 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .91016rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div59 .image60 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div59 .div61 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .91016rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div59 .div61 .split_text411 {
  color: #000;
    text-align: center;
    width: 1.25781rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div62 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .85156rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div62 .image63 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div62 .div64 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .85156rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div62 .div64 .split_text410 {
  color: #000;
    text-align: center;
    width: 1.25781rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div65 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: .69531rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div65 .image66 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div65 .div67 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .69531rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div65 .div67 .split_text409 {
  color: #000;
    text-align: center;
    width: 1.25781rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div68 {
  box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 1.09766rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div68 .image69 {
  width: .625rem;
    height: .625rem
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div68 .div70 {
  flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.09766rem;
    margin-top: .16406rem;
    display: flex
}

.div1.lp-xiaomi-20w-carregador .div26 .div28 .div33 .div58 .div68 .div70 .split_text408 {
  color: #000;
    text-align: center;
    width: 1.28125rem;
    font-size: .14063rem
}

.div1.lp-xiaomi-20w-carregador .div71 {
  box-sizing: border-box;
    align-items: center;
    width: 10rem;
    height: 2.61719rem;
    display: flex;
    position: relative
}

.div1.lp-xiaomi-20w-carregador .div71 .image72 {
  z-index: 0;
    flex-shrink: 0;
    width: 10rem;
    height: 2.61719rem
}

.div1.lp-xiaomi-20w-carregador .div71 .specs-button {
  z-index: 2;
    min-height: .33203rem;
    position: absolute;
    top: 1.71875rem;
    left: 6.36719rem;
    overflow-y: hidden
}

.div1.lp-xiaomi-20w-carregador .div71 .specs-button .specs-text {
  color: #454545;
    border: .01563rem solid #454545;
    border-radius: .04688rem;
    align-items: center;
    height: .33203rem;
    padding: 0 .73047rem 0 .19922rem;
    font-size: .125rem;
    display: flex;
    white-space: nowrap !important;
    font-weight: 700 !important
}

.div1.lp-xiaomi-20w-carregador .div71 .specs-button .specs-arrow {
  z-index: 0;
    color: #454545;
    pointer-events: none;
    border-left: .01563rem solid #454545;
    min-height: .16797rem;
    padding: 0 0 0 .19922rem;
    position: absolute;
    top: .08984rem;
    right: .16797rem
}

.div1.lp-xiaomi-20w-carregador .div71 .specs-button .specs-arrow .specs-arrow-svg {
  width: .16797rem;
    height: .16797rem
}

.f-light {
  font-weight: 300
}

.f-medium {
  font-weight: 500
}

.f-bold {
  font-weight: 700
}

.xm-price, .xm-button {
  font-weight: 400 !important
}

