* {
    margin: 0;
    padding: 0;
}

.xm-text {
    display: inline-block;
    white-space: break-spaces !important
}

.xm-picture .xm-img {
    width: 100%
}

.xm-img {
    color: transparent
}

.xm-img[src=""], .xm-img:not([src]) {
    visibility: hidden
}

.xm-picture {
    display: inline-flex
}

html[data-mi-dir=rtl] .xm-text {
    display: block
}

html[data-mi-dir=rtl] .xm-text, html[data-mi-dir=rtl] .xm-link, html[data-mi-dir=rtl] .xm-price, html[data-mi-dir=rtl] .xm-button {
    direction: rtl
}

.section {
    background-repeat: no-repeat;
    margin-bottom: -1px;
    position: relative
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif
}

main {
    display: block
}

[hidden] {
    display: none
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

a {
    color: inherit;
    font-size: 14px;
    text-decoration: none
}

main {
    font-size: 16px;
    display: inline-block
}

.div1.fly-birds-page_4d239dfe5e {
    z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 22.5rem;
    margin: 0 auto;
    display: flex;
    overflow: hidden
}

.div1.fly-birds-page_4d239dfe5e * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2
}

.div1.fly-birds-page_4d239dfe5e :not(:is(.xm-price *)) {
    font-size: 0
}

.div1.fly-birds-page_4d239dfe5e .div2 {
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    height: 34.2083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div2 .image3 {
    z-index: 0;
    width: 22.5rem;
    height: 34.2083rem
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 {
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 10.6667rem;
    margin-top: -30.2917rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .image5 {
    width: 15.5rem;
    height: 4.79167rem
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container {
    text-align: center
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text432 {
    text-align: center;
    font-size: 1.66667rem;
    line-height: 1.66667rem
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text434 {
    text-align: center;
    font-size: 1.66667rem;
    line-height: 1.66667rem;
    display: inline
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435 {
    border: .10417rem solid #000;
    border-radius: .3125rem;
    margin-left: .83333rem;
    padding: .20833rem .625rem;
    font-size: 1.04167rem;
    line-height: 1.04167rem;
    display: inline
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    text-align: left
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    text-align: left
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
    text-align: left
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    text-align: right
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    text-align: right
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .product-name-container .split_text435:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
    text-align: right
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .div6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.6042rem;
    margin-top: .9375rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .div6 .split_text465 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 16.0833rem;
    font-size: 1rem
}

.div1.fly-birds-page_4d239dfe5e .div2 .div4 .div7 {
    color: #000;
    text-align: center;
    margin-top: .52083rem;
    font-size: .79167rem
}

.div1.fly-birds-page_4d239dfe5e .div8 {
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    height: 37.1458rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div8 .image9 {
    z-index: 0;
    width: 22.5rem;
    height: 37.1458rem
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 {
    z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 17.3333rem;
    min-height: 9.125rem;
    margin-top: -29.8958rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div11 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.7708rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div11 .split_text462 {
    color: #000;
    text-align: center;
    width: 18.75rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div12 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.4792rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div12 .split_text461 {
    color: #000;
    text-align: center;
    width: 16.6667rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div13 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.3333rem;
    margin-top: .83333rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div8 .div10 .div13 .split_text460 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 18.9167rem;
    font-size: .75rem;
    line-height: .95833rem
}

.div1.fly-birds-page_4d239dfe5e .div14 {
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    height: 35.8125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div14 .image15 {
    z-index: 0;
    width: 22.5rem;
    height: 35.8125rem
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 {
    z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 18.1875rem;
    min-height: 6.75rem;
    margin-top: -29.5833rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div17 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.1458rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div17 .split_text459 {
    color: #000;
    text-align: center;
    width: 19.1042rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div18 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14.7917rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div18 .split_text458 {
    color: #000;
    text-align: center;
    width: 19.1042rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div19 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18.1875rem;
    margin-top: .89583rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div14 .div16 .div19 .split_text457 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 18.8333rem;
    font-size: .75rem;
    line-height: .95833rem
}

.div1.fly-birds-page_4d239dfe5e .div20 {
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    height: 38.7083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div20 .image21 {
    z-index: 0;
    width: 22.5rem;
    height: 38.7083rem
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 {
    z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 19.4792rem;
    min-height: 10.6458rem;
    margin-top: -30.8333rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div23 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.3542rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div23 .split_text456 {
    color: #000;
    text-align: center;
    width: 19.5833rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div24 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div24 .split_text455 {
    color: #000;
    text-align: center;
    width: 19.2917rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div25 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.4792rem;
    margin-top: .83333rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div20 .div22 .div25 .split_text454 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 19.9167rem;
    font-size: .75rem;
    line-height: .95833rem
}

.div1.fly-birds-page_4d239dfe5e .div26 {
    box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    padding-bottom: 8.33333rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .image27 {
    z-index: 0;
    width: 22.5rem;
    height: 57.5rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 {
    z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    width: 19.4375rem;
    min-height: 40.9167rem;
    margin-top: -49.25rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 19.4375rem;
    min-height: 13.2292rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div30 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.2708rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div30 .split_text453 {
    color: #000;
    text-align: center;
    width: 16.7917rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div31 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.7708rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div31 .split_text452 {
    color: #000;
    text-align: center;
    width: 18.4167rem;
    font-size: 1.33333rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div32 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.4375rem;
    margin-top: .95833rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div32 .split_text451 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 19.5625rem;
    font-size: .75rem;
    line-height: .95833rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div33 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.8333rem;
    margin-top: 0;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div29 .div33 .split_text450 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 19.6458rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18.9375rem;
    min-height: 24.75rem;
    margin-top: 2.9375rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 {
    box-sizing: border-box;
    align-items: flex-start;
    width: 18.6458rem;
    min-height: 5.9375rem;
    margin-left: .29167rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 3.9375rem;
    min-height: 5.9375rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .image37 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .div38 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 3.9375rem;
    min-height: 2.97917rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .div38 .div39 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.8125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .div38 .div39 .split_text449 {
    color: #000;
    text-align: center;
    width: 5.20833rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .div38 .div40 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.9375rem;
    margin-top: .3125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div36 .div38 .div40 .split_text448 {
    color: #000;
    text-align: center;
    width: 5.20833rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 3.9375rem;
    min-height: 5.9375rem;
    margin-left: 3.10417rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .image42 {
    width: 2.4375rem;
    height: 2.4375rem;
    margin-left: -.375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .div43 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 3.9375rem;
    min-height: 2.97917rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .div43 .div44 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.8125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .div43 .div44 .split_text447 {
    color: #000;
    text-align: center;
    width: 5.20833rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .div43 .div45 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.9375rem;
    margin-top: .3125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div41 .div43 .div45 .split_text446 {
    color: #000;
    text-align: center;
    width: 5.20833rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 6.02083rem;
    min-height: 5.9375rem;
    margin-left: 1.64583rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .image47 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .div48 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 6.02083rem;
    min-height: 3rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .div48 .div49 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .div48 .div49 .split_text445 {
    color: #000;
    text-align: center;
    width: 5.20833rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .div48 .div50 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.02083rem;
    margin-top: .3125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div35 .div46 .div48 .div50 .split_text444 {
    color: #000;
    text-align: center;
    width: 7.29167rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 {
    box-sizing: border-box;
    align-items: flex-start;
    width: 17.9583rem;
    min-height: 7rem;
    margin-top: 3.75rem;
    margin-left: -.14583rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 3.70833rem;
    min-height: 7rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .image53 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .div54 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 3.70833rem;
    min-height: 4.04167rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .div54 .div55 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .div54 .div55 .split_text443 {
    color: #000;
    text-align: center;
    width: 5.16667rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .div54 .div56 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.70833rem;
    margin-top: .3125rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div52 .div54 .div56 .split_text442 {
    color: #000;
    text-align: center;
    width: 5.10417rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div57 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 4.625rem;
    min-height: 4.66667rem;
    margin-left: 2.6875rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div57 .image58 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div57 .div59 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.625rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div57 .div59 .split_text441 {
    color: #000;
    text-align: center;
    width: 6.14583rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div60 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 4.83333rem;
    min-height: 4.5625rem;
    margin-left: 2.10417rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div60 .image61 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div60 .div62 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.83333rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div51 .div60 .div62 .split_text440 {
    color: #000;
    text-align: center;
    width: 6.14583rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 {
    box-sizing: border-box;
    align-items: flex-start;
    width: 18.8958rem;
    min-height: 4.5625rem;
    margin-top: 3.64583rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div64 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 4.54167rem;
    min-height: 4.5625rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div64 .image65 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div64 .div66 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.54167rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div64 .div66 .split_text439 {
    color: #000;
    text-align: center;
    width: 6.14583rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div67 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 3.70833rem;
    min-height: 4.5625rem;
    margin-left: 2.72917rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div67 .image68 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div67 .div69 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.70833rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div67 .div69 .split_text438 {
    color: #000;
    text-align: center;
    width: 6.14583rem;
    font-size: .75rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div70 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 5.875rem;
    min-height: 4.5625rem;
    margin-left: 2.04167rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div70 .image71 {
    width: 2.4375rem;
    height: 2.4375rem
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div70 .div72 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.875rem;
    margin-top: .52083rem;
    display: flex
}

.div1.fly-birds-page_4d239dfe5e .div26 .div28 .div34 .div63 .div70 .div72 .split_text437 {
    color: #000;
    text-align: center;
    width: 7.27083rem;
    font-size: .75rem
}

.f-light {
    font-weight: 300
}

.f-medium {
    font-weight: 500
}

.f-bold {
    font-weight: 700
}

.xm-price, .xm-button {
    font-weight: 400 !important
}